<header class="stick style2 w-100">
    <div class="topbar bg-color5 w-100">
        <div class="container">
            <div class="topbar-inner d-flex flex-wrap justify-content-between align-items-center w-100">
                <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                    <li><i class="thm-clr fas fa-map-marker-alt"></i>México</li>
                    <li><i class="thm-clr far fa-envelope-open"></i>Email: 
                        <a href="mailto:acortez@acerosymas.com.mx" title="Escribenos">acortez@acerosymas.com.mx</a></li>
                </ul>
               <!--  <ul class="topbar-links mb-0 list-unstyled d-inline-flex">                                <li><a href="javascript:void(0);" title="">Login</a></li>
                </ul> -->
            </div>
        </div>
    </div><!-- Topbar -->
    <div class="logo-info-bar-wrap w-100">
        <div class="container">
            <div class="logo-info-bar-inner w-100 d-flex flex-wrap justify-content-between align-items-center">
                <div class="logo-social d-inline-flex flex-wrap justify-content-between align-items-center">
                    <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/aceros/images/logo2.png" alt="Logo" srcset="assets/aceros/images/retina-logo2.png"></a></h1></div><!-- Logo -->
                    <div class="social-links">
                        <a href="javascript:void(0);" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="javascript:void(0);" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="javascript:void(0);" title="Skype" target="_blank"><i class="fab fa-skype"></i></a>
                        <a href="javascript:void(0);" title="Vimeo" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                    </div>
                </div>
                <div class="top-info-wrap d-inline-flex flex-wrap justify-content-between align-items-center">
                    <div class="call-us">
                        <i class="thm-clr flaticon-phone-call"></i>
                        <span>24/7 Atención al cliente</span>
                        <strong>8136102422</strong>
                    </div>
                    <div class="add-cart">
                        <a href="#" title="">
                            <i class="thm-bg fas fa-shopping-basket"></i>
                            Carro
                            <span class="d-block">02</span>
                        </a>
                    </div>
                </div>                            
            </div>
        </div>
    </div><!-- Logo Info Bar Wrap -->
    <div class="menu-wrap">
        <div class="container">
            <nav class="d-inline-flex justify-content-between align-items-center w-100">
                <div class="header-left">
                    <ul class="mb-0 list-unstyled d-inline-flex">
                       
                        <li><a (click)="setRoute('first')" style="cursor: pointer;" title="">Inicio</a></li>
                        <li><a href="about.html" title="">Nosotros</a></li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Productos
                            </a>
                        </li>
                        <li><a (click)="setRoute('contact')" style="cursor: pointer;" title="">Contacto</a></li>
                    </ul>
                </div>
                <div class="header-right-btns">
                    <a class="get-quote" href="javascript:void(0);" title=""><i class="far fa-comments"></i>Chatear<i class="flaticon-arrow-pointing-to-right"></i></a>
                </div>
            </nav>
        </div>
    </div><!-- Menu Wrap -->
</header><!-- Header -->
