
    
<app-header></app-header>
<div class="sticky-menu">
    <div class="container">
        <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/aceros/images/logo.png" alt="Logo" srcset="assets/aceros/images/retina-logo.png"></a></h1></div><!-- Logo -->
            <nav class="d-inline-flex justify-content-between align-items-center">
                <div class="header-left">
                    <ul class="mb-0 list-unstyled d-inline-flex">
                       
                        <li><a (click)="setRoute('first')" style="cursor: pointer;" title="">Inicio</a></li>
                        <li><a href="#" title="">Nosotros</a></li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Productos</a></li>
                        <li><a (click)="setRoute('contact')" style="cursor: pointer;" title="">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div><!-- Sticky Menu -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <div class="rspn-scil">
            <a href="javascript:void(0);" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="javascript:void(0);" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:void(0);" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="javascript:void(0);" title="Google Plus" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        </div>
        <form class="rspn-srch">
            <input type="text" placeholder="Enter Your Keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="lg-mn">
        <div class="logo"><a href="index.html" title="Home"><img src="assets/aceros/images/logo.png" alt="Logo"></a></div>
        <div class="rspn-cnt">
            <span><i class="thm-clr far fa-envelope-open"></i><a href="mailto:acortez@acerosymas.com.mx" title="">acortez@acerosymas.com.mx</a></span>
            <span><i class="thm-clr fas fa-map-marker-alt"></i>México</span>                        
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="mb-0 list-unstyled w-100">
                       
                        <li><a (click)="setRoute('first')" style="cursor: pointer;"title="">Inicio</a></li>
                        <li><a href="#" title="">Nosotros</a></li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Productos
                            </a>
                        </li>
                        <li><a href="" title="">Ventajas</a></li>
                        <li><a (click)="setRoute('contact')  " style="cursor: pointer;"title="">Contacto</a></li>
                   
           
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->

<router-outlet></router-outlet>
<app-footer></app-footer>
