<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(assets/aceros/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">Cart Page</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a  title="">Home</a></li>
                    <li class="breadcrumb-item"><a  title="">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="cart-table w-100">
                <form class="">
                    
                    <!-- Product Table -->
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="cart-table-bottom-btns d-flex flex-wrap justify-content-between align-items-center">
                                <a class="simple-btn bg-color1" href="javascript:void(0);" title="">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="cart-data-box cart-total w-100">
                                <span class="d-block">Subtotal: <span class="price">$999.00</span></span>
                                <span class="d-block">Grand Total: <span class="price">$999.00</span></span>
                                <div class="field-btn">
                                    <button class="simple-btn checkout-btn bg-color1"  (click)="setRoute('checkout')">Proceed To Checkout</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </form><!-- Cart Form -->
            </div><!-- Cart Table -->
        </div>
    </div>
</section>
